<div >

    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link " routerLink="/employee/all" routerLinkActive="active">Employess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/new-Employee" routerLinkActive="active">New Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-Employee" routerLinkActive="active">add Department</a>
        </li>
      </ul>
      <br>
      
</div>
